<?xml version="1.0" ?>
<module>

<User f="nodata">
  <User>
    <Select_User t="dropdown" f="user"/>
    <Login t="button" l="Control"/>
  </User>
</User>

<Control f="nodata">
  <Main>
    <Record_Asset t="button" l="Asset"/>
    <GPS_Diagnostics t="gpsdiag"/>
  </Main>
  <search>
    Records
  </search>
</Control>

<Asset>
  <Customer>
    <Customer f="id notnull" t="dropdown">
      <desc>Name of the customer whose piece of hardware this "belongs to"</desc>
    </Customer>
  </Customer>
  <Hardware>
    <Manufacture_Date t="input">
      <desc>Approximate date of hardware manufacture</desc>
    </Manufacture_Date>
    <Make t="input">
      <desc>Make/brand/manufacturer of the hardware</desc>
    </Make>
    <Model t="input">
      <desc>Model of the hardware device</desc>
    </Model>

    <cols>
      <col>
        <Serial t="input">
          <desc>Serial number</desc>
        </Serial>
      </col>
      <col>
        <Serial_Trigger t="button">
          <desc>Barcode scanner button</desc>
        </Serial_Trigger>
      </col>
    </cols>
    
    <GPS_Location t="gpsdiag">
      <desc>GPS location of device</desc>
    </GPS_Location>
    <Photo t="picture">
      <desc>Attached photo</desc>
    </Photo>
    <Notes f="notnull" >
      <desc>General notes</desc>
    </Notes>
    
    <Attached_Audio t="audio"/>
    <Attached_Video t="video"/>
  </Hardware>
</Asset>

</module>
